[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
epc = "*"
importmagic = "*"

[packages]
django = "*"
wagtail = "*"
django-environ = "*"
django-split-settings = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
